{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <br>
      <!-- Add New Task Button -->
      <div class="text-right">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">Add New Task
         </button>
        </div>
      </br>
     
      <br>
      <!-- Table for To Do Items -->
      <h3>To Do Items</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- List To Do items here -->
          {% for item in view_model.todo_items %}
          <tr data-status="{{ item.status }}">
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.description }}</td>
              <!-- Action buttons for To Do items -->
              <td>
                <form action="/mark_complete/{{item.id}}" method="post" class="form-example">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  {% if item.status == "To do" %}
                    <input type="submit" class="btn btn-success" name="mark_done"value="Complete">
                  </form>
                    <form action="/mark_progress/{{item.id}}" method="post" class="form-example">
                    <input type="submit" class="btn btn-info" name="in_progress" value="In Progress">
                  </form>
                  {% elif item.status == "In Progress" %}
                    <input type="submit" class="btn btn-success" value="Complete">
                  {% elif item.status == "Done" %}
                    <input type="submit" class="btn btn-secondary" name="undo" value="Done" disabled>
                  {% endif %}
                </form>
                <form action="/removeitem/{{item.id}}" method="post" class="form-example">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </br>
     
    <br>
    <!-- Table for In Progress Items -->
    <h3>In Progress Items</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Status</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- List To Do items here -->
        {% for item in view_model.progress_items %}
        <tr data-status="{{ item.status }}">
          <td>{{ item.name }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.description }}</td>
            <!-- Action buttons for In Progress items -->
            <td>
              <form action="/mark_complete/{{item.id}}" method="post" class="form-example">
                <input type="hidden" name="id" value="{{ item.id }}">
                {% if item.status == "To do" %}
                  <input type="submit" class="btn btn-success" name="mark_done"value="Complete">
                </form>
                  <form action="/mark_progress/{{item.id}}" method="post" class="form-example">
                  <input type="submit" class="btn btn-info" name="in_progress" value="In Progress">
                </form>
                {% elif item.status == "In Progress" %}
                  <input type="submit" class="btn btn-success" value="Complete">
                {% elif item.status == "Done" %}
                  <input type="submit" class="btn btn-secondary" name="undo" value="Done" disabled>
                {% endif %}
              </form>
              <form action="/removeitem/{{item.id}}" method="post" class="form-example">
                <input type="hidden" name="id" value="{{ item.id }}">
                <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </br>
     
  <br>
  <!-- Table for Done Items -->
  <h3>Done Items</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- List To Do items here -->
      {% for item in view_model.done_items %}
      <tr data-status="{{ item.status }}">
        <td>{{ item.name }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.description }}</td>
      
          <!-- Action buttons for Done items -->
          <td>
            <form action="/mark_complete/{{item.id}}" method="post" class="form-example">
              <input type="hidden" name="id" value="{{ item.id }}">
              {% if item.status == "To do" %}
                <input type="submit" class="btn btn-success" name="mark_done"value="Complete">
              </form>
                <form action="/mark_progress/{{item.id}}" method="post" class="form-example">
                <input type="submit" class="btn btn-info" name="in_progress" value="In Progress">
              </form>
              {% elif item.status == "In Progress" %}
                <input type="submit" class="btn btn-success" value="Complete">
              {% elif item.status == "Done" %}
                <input type="submit" class="btn btn-secondary" name="undo" value="Done" disabled>
              {% endif %}
            </form>
            <form action="/removeitem/{{item.id}}" method="post" class="form-example">
              <input type="hidden" name="id" value="{{ item.id }}">
              <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</br>
 
  
  <!-- Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/additem" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Item Title:</label>
            <input type="text" name="title" id="title" placeholder="Required" class="form-control" required>
            <div class="form-group">
              <label for="description">Item Description:</label>
              <input type="text" name="description" id="description" placeholder="Optional" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}